.gamePageWrapper {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 1fr 100px 1fr;
  height: 100vh;
}

#boxes{
  grid-column: 1/2;
  grid-row: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
}


.boxTwo {
  display: grid;
  grid-template-columns: 2fr 100px 100px 100px 700px;
  align-items: center;
  grid-column: 2/3;
  grid-row: 2/3;
}




#fwv {
  background-color: white;
  color: purple;
  padding: 10px;
  margin: 10px;
  font-size: 24px;
  border: solid black;
  width: 250px;
  text-align: center;
  font-weight: 300;
}

#about {
  padding: 10px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  font-weight: 100;
}

#tweet {
  padding-right: 20px;
  font-size: 20px;
  text-align: center;
  
}

#research {
  padding: 10px;
  font-size: 18px;
  text-align: center;
  font-weight: 100;
}

#about:hover {
  font-weight: 400;
  text-decoration: none;
}

#tweet:hover {
  font-size: 20.5px;
}

#research:hover{
  font-weight: 400;
  text-decoration: none;
}

Link:hover{
  text-decoration:none;
}
Link{
  text-decoration:none;
}

@media only screen and (max-width: 600px) {
  .boxTwo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  #tweet{
    padding-right:0;
    padding-top:10px;
  }
}